@page
@model MixResultModel

<title>Mixology Results</title>
<div class="MixResultHeading"> 
    <h3>These are the cocktails that contain the ingredients you selected:</h3>
</div>

<div class="row">
      @foreach (var recipe in Model.chosenRecipes) {
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            
            <div class="card" style = "margin-bottom: 10px">
                <a class="recipe-image" asp-page-handler="ViewRecipe" asp-route-ID="@recipe.RecipeId">
                <img class="card-img-top" src="@recipe.RecipeImage" alt="Card image cap"> </a>
                <div class="card-body">
                     <a class="recipe-text" asp-page-handler="ViewRecipe" asp-route-ID="@recipe.RecipeId"
                    style = "text-decoration: none;"
                     >
                    <h5 class="card-title" style="display: flex; justify-content: space-between; margin: 0; color: black">
                        @recipe.RecipeName 
                    </h5>
                    <span style = "color: DodgerBlue">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-stopwatch-fill" viewBox="0 0 16 16">
                            <path d="M6.5 0a.5.5 0 0 0 0 1H7v1.07A7.001 7.001 0 0 0 8 16a7 7 0 0 0 5.29-11.584.531.531 0 0 0 .013-.012l.354-.354.353.354a.5.5 0 1 0 .707-.707l-1.414-1.415a.5.5 0 1 0-.707.707l.354.354-.354.354a.717.717 0 0 0-.012.012A6.973 6.973 0 0 0 9 2.071V1h.5a.5.5 0 0 0 0-1h-3zm2 5.6V9a.5.5 0 0 1-.5.5H4.5a.5.5 0 0 1 0-1h3V5.6a.5.5 0 1 1 1 0z"/>
                        </svg> 
                        @recipe.RecipeTime min
                    </span>
                    @if (!recipe.ContaintsAlcohol) {
                        <span class="badge bg-success">Mocktail</span>
                    }
                    </a>
                </div>
            </div>
            
        </div>
      }
</div>