@page
@model RecipeModel

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Discover</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CocktailApp.styles.css" asp-append-version="true" />
</head>

<img class="d-block w-100" src="@Model.recipe.RecipeImage" alt="Recipe Image">

<br>
<h1>@Model.recipe.RecipeName</h1>
<h5>
    <span class="badge bg-success">@Model.recipeTags[0]</span>
    <span class="badge bg-info">@Model.recipeTags[1]</span>
    <span class="badge bg-danger">@Model.recipeTags[2]</span>
    
        <form method="post">
            
          <button type="submit" class="btn btn-success" style="padding: 0 5px 0 5px; margin-top: 10px"
          asp-route-recipeID= "@Model.recipe.RecipeId"> 
              + Add to favourites
          </button>
            
          <button type="submit" class="btn btn-danger" style="padding: 0 5px 0 5px; margin-top: 10px" asp-page-handler="DeleteFromFavourites" 
          asp-route-recipeID= "@Model.recipe.RecipeId"> 
              - Remove from favourites
          </button>

          
            @* <button type="submit" class="btn btn-link" style="padding:5px"> 
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="25" height="25" viewBox="0 0 40 40" xml:space="preserve">
                            
              <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(0 0) scale(0.4 0.4)" >
              <path d="M 45 83.769 L 6.653 45.422 C 2.363 41.132 0 35.428 0 29.36 s 2.363 -11.771 6.653 -16.062 c 4.29 -4.291 9.994 -6.653 16.062 -6.653 c 6.068 0 11.772 2.363 16.062 6.653 L 45 19.521 l 6.223 -6.223 c 4.29 -4.291 9.995 -6.653 16.063 -6.653 s 11.771 2.363 16.062 6.653 S 90 23.293 90 29.36 s -2.363 11.771 -6.653 16.062 L 45 83.769 z M 22.715 8.645 c -5.533 0 -10.735 2.155 -14.647 6.067 S 2 23.827 2 29.36 s 2.155 10.735 6.067 14.647 L 45 80.94 l 36.933 -36.933 C 85.845 40.095 88 34.894 88 29.36 s -2.155 -10.735 -6.067 -14.648 C 78.02 10.8 72.817 8.645 67.285 8.645 c -5.533 0 -10.735 2.155 -14.648 6.067 L 45 22.35 l -7.637 -7.637 C 33.45 10.8 28.249 8.645 22.715 8.645 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(247,0,0); fill-rule: nonzero; opacity: 1;"  stroke-linecap="round" />
              </g>
              </svg>
            </button> *@

          </form> 

             @* display error message of sorts - Not so sure about FE for this so will do later  *@
      
</h5>
<br>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="ingredients-tab" data-toggle="tab" href="#ingredients" role="tab" aria-controls="ingredients" aria-selected="true">Ingredients</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="directions-tab" data-toggle="tab" href="#directions" role="tab" aria-controls="directions" aria-selected="false">Directions</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="ingredients" role="tabpanel" aria-labelledby="ingredients-tab">
      <ul class="list-group list-group-flush">
          @foreach (var item in @Model.ingredients)
          {
            <li class="list-group-item">@item.MeasurementAmount @item.Measurement.MeasurementName @item.Ingredient.IngredientName</li>
          }
    </ul>
  </div>
  <div class="tab-pane fade" id="directions" role="tabpanel" aria-labelledby="directions-tab">
        <ol class="list-group list-group-flush directions">

          @foreach (var step in @Model.directions)
          {
              <li class="list-group-item direction">@step.</li>
          }
      </ol>
  </div>
</div>

<!--Double added Modal-->
<div class="modal fade" id="doubleAddedModal" tabindex="-1" role="dialog" aria-labelledby="doubleModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        You've already added this cocktail to favourites!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--Double removed Modal-->
<div class="modal fade" id="doubleRemovedModal" tabindex="-1" role="dialog" aria-labelledby="doubleRemovedModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        This cocktail isn't in your favourites!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script> 